:root {
  --color-primary: #d9edbf;
  --color-secondary: #2c7865;
  --color-button: #ff9800;
  --color-button-darker: #f08c00;
  --color-tertiary: #90d26d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Rubik', sans-serif;
  color: #444;
  font-weight: 300;
  background-color: #f3f3f3;
}

/* NAVIGATION */
.nav {
  display: flex;
  background-color: white;
  justify-content: space-between;
  padding: 0px 50px 0px 10px;
}

.nav_links {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav_logo {
  height: 75px;
  width: auto;
  padding-left: 10px;
}

.nav_item {
  margin-right: 25px;
  font-size: 14px;
}

ul li:last-child {
  margin: 0px;
}

.btn_cart {
  padding: 10px 20px;
  border-radius: 50px;
  background-color: var(--color-button);
  border: 2px solid var(--color-button-darker);
  color: #fff9db;
}

/* MAIN SECTION */

/* PROMOTION SECTION */
/* Week days section */
.promotion-section {
  padding: 5rem 35rem;
  border-top: 1px solid #ddd;
}

.week-days {
  display: flex;
  justify-content: space-between;
}

.week-days a {
  font-size: 15px;
}

.week-day {
  border-left: 1px solid #ddd;
  padding: 5px 24px;
}

.active {
  border: 2px solid var(--color-button-darker);
  border-radius: 50px;
}

/* Product-box section */
.product-box {
  display: flex;
  height: 800px;
  gap: 10px;
  padding-top: 50px;
}

.product-box_img {
  height: 200px;
  width: auto;
  border-radius: 10px;
}

.product-box_info ul {
  list-style: none;
}

.product-box_info {
  font-size: 16px;
  font-weight: 400;
}

li {
  padding-bottom: 10px;
}

.discount-prompt {
  width: 150px;
  height: 200px;
  background-color: blue;
}

.prompt {
  color: white;
  font-size: 32px;
}

.prompt-left {
  transform: rotate(-90deg);
}
.prompt-right {
  transform: rotate(-90deg);
}
