:root {
  --color-primary: #d9edbf;
  --color-secondary: #2c7865;
  --color-button: #ff9800;
  --color-button-darker: #f08c00;
  --color-tertiary: #90d26d;
  --gradient-cat-handg: linear-gradient(to right, #3498db, #2ecc71);
  --color-cat-gift: #f1c40f;
  --color-cat-office: #2c3e50;
  --gradient-cat-sport: linear-gradient(
    to top right,
    #e74c3c,
    #f1c40f,
    #1abc9c
  );
  --color-gadget: #9b59b6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Rubik', sans-serif;
  color: #444;
  font-weight: 300;
  background-color: #f3f3f3;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

/* NAVIGATION */
.nav {
  display: flex;
  background-color: white;
  justify-content: space-between;
  padding: 0px 50px 0px 10px;
}

.nav_links {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav_logo {
  height: 75px;
  width: auto;
  padding-left: 10px;
}

.nav_item {
  margin-right: 25px;
  font-size: 14px;
}

ul li:last-child {
  margin: 0px;
}

.btn_cart {
  padding: 10px 20px;
  border-radius: 50px;
  background-color: var(--color-button);
  border: 2px solid var(--color-button-darker);
  color: #fff9db;
}

/* MAIN SECTION */

/* PROMOTION SECTION */
/* Week days section */
.promotion-section {
  /* margin: 5rem 35rem; */
  /* border-top: 1px solid #ddd; */
}

.week-days {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.week-days a {
  font-size: 15px;
}

.week-day {
  border-left: 1px solid #ddd;
  padding: 5px 24px;
}

.week-day:first-child {
  border-left: none;
}

.active {
  border: 2px solid var(--color-button-darker);
  border-radius: 50px;
}

/* Product-box section */
.product-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 50px;
  margin-bottom: 150px;
}

.product-box_img {
  height: 250px;
  border-radius: 10px;
}

.product-box_info ul {
  list-style: none;
}

.product-box_info {
  font-size: 16px;
  font-weight: 400;
}

li {
  padding-bottom: 10px;
}

.discount-prompt {
  width: 150px;
  height: 250px;
  /* height: 200px; */
  background-color: blue;
}

.prompt {
  color: white;
  font-size: 32px;
}

.prompt-left {
  transform: rotate(-90deg);
}

.prompt-right {
  transform: rotate(-90deg);
}

/* CATEGORIES */
.categories {
  margin-bottom: 20px;
}

.categories ul {
  list-style: none;
  width: 800px;
  font-size: 14px;
  margin: 0px auto;

  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.cat:hover {
  color: var(--color-button);
  font-weight: 500;
  cursor: pointer;
}

.cat--handg {
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  padding: 7px 20px;
  border-radius: 50px;
  background-image: var(--gradient-cat-handg);
}
.cat--handg:hover {
  color: white;
  cursor: default;
}

.cat--gift {
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  padding: 7px 20px;
  border-radius: 50px;
  background-color: var(--color-cat-gift);
}
.cat--gift:hover {
  color: white;
  cursor: default;
}

.cat--gadget {
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  padding: 7px 20px;
  border-radius: 50px;
  background-color: var(--color-gadget);
}
.cat--gadget:hover {
  color: white;
  cursor: default;
}

.cat--office {
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  padding: 7px 20px;
  border-radius: 50px;
background-color: var(--color-cat-office);
}
.cat--office:hover {
  color: white;
  cursor: default;
}

.cat--sport {
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  padding: 7px 20px;
  border-radius: 50px;
background-image: var(--gradient-cat-sport);
}
.cat--sport:hover {
  color: white;
  cursor: default;
}

/* PRODUCT SECTION */
.product-section {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 300px 300px 300px;
  gap: 300px
  margin-bottom: 500px;
}

.product {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 10px;
}

.product-content {
  /* padding: 3.2rem 4.8rem 4.8rem 4.8rem; */
  padding: 3.2rem;
}

.product-img {
  width: 300px;
  height: 250px;
  border-radius: 10px 10px 0px 0px;
}

.product_cat {
  display: flex;
  gap: 0.4rem;
  margin-bottom: 15px;
}

.product_name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.product_price {
  font-size: 18px;
  padding-bottom: 15px;
}

.product_btns {
  display: flex;
  justify-content: center;
}

.product_btns button {
  margin-right: 25px;
}
